<div class="page-header">
  <h1>Forms</h1>
  <div class="navbar-spacer"></div>
  <div class="header-btn">
    <a md-fab (click)="addForm(addFormContent)">
      <md-icon fontSet="fa" fontIcon="fa-plus" class="fa-lg"></md-icon>
    </a>
  </div>
</div>

<app-loader-manager [config]="_pageSettings">
  <md-grid-list cols="4" rowHeight="150px">
    <md-grid-tile *ngFor="let item of forms | async" [colspan]="1" [rowspan]="1">
      <md-card>
        <md-card-header>
          <div md-card-avatar>
            <md-icon fontSet="fa" fontIcon="fa-file" class="fa-lg text-muted"></md-icon>
          </div>
          <md-card-title>{{item.name}}</md-card-title>
          <md-card-subtitle>{{item.updated | date}}</md-card-subtitle>
        </md-card-header>
        <md-card-actions>
          <button md-button [routerLink]="['/forms', item.$key]">VIEW</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
</app-loader-manager>

<template ngbModalContainer></template>
<template #addFormContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Add Forms</h4>
  </div>
  <div class="modal-body">
    <app-form-add new-form=''></app-form-add>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</template>