<md-toolbar color="primary" *ngIf="(user | async)">
  <button md-button routerLink="/forms"> My Forms</button>
  <span class="navbar-spacer"></span>
  <button md-button [mdMenuTriggerFor]="menu">
    <img [src]="(user | async)?.photoURL" alt="i" class="account-photo border-rounded">&nbsp;
    {{ (user | async)?.displayName}}
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item routerLink="/profile">
        <md-icon fontSet="fa" fontIcon="fa-user"></md-icon>
        <span>Profile</span>
    </button>
    <button md-menu-item (click)="logout()">
        <md-icon fontSet="fa" fontIcon="fa-power-off"></md-icon>
        <span>Logout</span>
      </button>
  </md-menu>
</md-toolbar>
<router-outlet></router-outlet>