<div class="container-fluid">

  <table class="table">
    <thead>
      <tr>
        <th>
        </th>
        <th>Name</th>
        <th>Created</th>
        <th>Created By</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items | async">
        <td>
          <button type="button" class="btn btn-xs btn-default" (click)="selectItem(item)">
            <i class="fa fa-fw" [ngClass]="{'fa-check': item.selected}"></i>
          </button>
        </td>
        <td>
          {{item.name}}
        </td>
        <td>
          {{item.created | date}}
        </td>
        <td>
          {{item.creator}}
        </td>
        <td>
          {{item.statusHR}}
        </td>
      </tr>
    </tbody>
  </table>
</div>