<div [ngSwitch]="toolId" class="toolbox">
  <div *ngSwitchCase="1">
    <!-- Textbox Input -->
    <div [ngSwitch]="displayOnly">
      <div *ngSwitchCase="true" class="display-tool" [ngClass]="{'draggable-tool': allowDrag}">
        Textbox
      </div>
      <div *ngSwitchCase="false">
        <button type="button" md-icon-button [mdMenuTriggerFor]="menu" class="input-button">
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
          <button md-menu-item>
              <md-icon fontSet="fa" fontIcon="fa-plus"></md-icon>
              <span>Add/Edit Label</span>
          </button>
          <button md-menu-item (click)="deleteTool(model.$key)">
              <md-icon fontSet="fa" fontIcon="fa-trash-o"></md-icon>
              <span>Delete Input</span>
          </button>
        </md-menu>
        <md-input-container>
          <input md-input [id]="'textbox-' + toolIndex" [name]="model.propName" [(ngModel)]="model.value" [type]="model.type" [attr.required]="(model._validation && model._validation.required) ? 'required' : null" autocomplete="off" placeholder="Textbox Field">
        </md-input-container>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="2">
    <!-- Select Input -->
    <div [ngSwitch]="displayOnly">
      <div *ngSwitchCase="true" class="display-tool" [ngClass]="{'draggable-tool': allowDrag}">
        Dropdown
      </div>
      <div *ngSwitchCase="false">
        <md-select [id]="'select-' + toolIndex" [name]="model.propName" [(ngModel)]="model.value" [attr.required]="(model._validation && model._validation.required) ? 'required' : null">
          <md-option *ngFor="let item of model.options" [value]="item.value">
            {{item.text}}
          </md-option>
        </md-select>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="3">
    <!-- Checkbox Input -->
    <div [ngSwitch]="displayOnly">
      <div *ngSwitchCase="true" class="display-tool" [ngClass]="{'draggable-tool': allowDrag}">
        Checkbox
      </div>
      <div *ngSwitchCase="false">
        <input [id]="'checkbox-' + toolIndex" [name]="model.propName" [(ngModel)]="model.value" type="checkbox" [attr.required]="(model._validation && model._validation.required) ? 'required' : null" autocomplete="off">
      </div>
    </div>
  </div>
  <div *ngSwitchCase="4">
    <!-- Radio Input -->
    <div [ngSwitch]="displayOnly">
      <div *ngSwitchCase="true" class="display-tool" [ngClass]="{'draggable-tool': allowDrag}">
        Radio
      </div>
      <div *ngSwitchCase="false">
        <input [id]="'radio-' + toolIndex" [name]="model.propName" [(ngModel)]="model.value" type="radio" [attr.required]="(model._validation && model._validation.required) ? 'required' : null" autocomplete="off">
      </div>
    </div>
  </div>
  <div *ngSwitchCase="5">
    <!-- Radio Input -->
    <div [ngSwitch]="displayOnly">
      <div *ngSwitchCase="true" class="display-tool" [ngClass]="{'draggable-tool': allowDrag}">
        Helper Text
      </div>
      <div *ngSwitchCase="false">
        <md-input-container>
          <textarea md-input [id]="'helper-' + toolIndex" [name]="model.propName" [(ngModel)]="model.value" [type]="model.type" [attr.required]="(model._validation && model._validation.required) ? 'required' : null" placeholder="Helper Text" autocomplete="off"></textarea>
        </md-input-container>
      </div>
    </div>
  </div>
  <div *ngSwitchDefault>
    <p>Cannot determine tool.</p>
  </div>
</div>