.toolbox {
    overflow: hidden;
    .display-tool {
        padding: 10px 5px 10px 0;
    }
    .draggable-tool {
        cursor: move;
        &:hover,
        &:focus {
            background-color: #eee;
        }
    }
    .input-button {
        float: right;
    }
    md-select,
    md-input-container {
        display: block;
        margin-bottom: 35px;
        margin-right: 50px;
    }
    md-select {
        margin-top: 15px;
    }
}

.control-drop-area {
    background-color: #eee;
    margin: 25px 0px;
    padding: 25px;
    text-align: center;
}