<div [ngSwitch]="toolId" class="toolbox">
  <div *ngSwitchCase="1">
    <!-- Textbox Input -->
    <div [ngSwitch]="displayOnly">
      <div *ngSwitchCase="true" class="display-tool" [ngClass]="{'draggable-tool': allowDrag}">
        Textbox
      </div>
      <div *ngSwitchCase="false">
        <md-input-container>
          <input md-input [id]="'textbox-' + toolIndex" [name]="model.propName" [(ngModel)]="model.value" [type]="model.type" [attr.required]="(model._validation && model._validation.required) ? 'required' : null" autocomplete="false">
        </md-input-container>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="2">
    <!-- Select Input -->
    <div [ngSwitch]="displayOnly">
      <div *ngSwitchCase="true" class="display-tool" [ngClass]="{'draggable-tool': allowDrag}">
        Dropdown
      </div>
      <div *ngSwitchCase="false">
        <select [id]="'select-' + toolIndex" [name]="model.propName" [(ngModel)]="model.value" [attr.required]="(model._validation && model._validation.required) ? 'required' : null" autocomplete="false"></select>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="3">
    <!-- Checkbox Input -->
    <div [ngSwitch]="displayOnly">
      <div *ngSwitchCase="true" class="display-tool" [ngClass]="{'draggable-tool': allowDrag}">
        Checkbox
      </div>
      <div *ngSwitchCase="false">
        <input [id]="'checkbox-' + toolIndex" [name]="model.propName" [(ngModel)]="model.value" type="checkbox" [attr.required]="(model._validation && model._validation.required) ? 'required' : null" autocomplete="false">
      </div>
    </div>
  </div>
  <div *ngSwitchCase="4">
    <!-- Radio Input -->
    <div [ngSwitch]="displayOnly">
      <div *ngSwitchCase="true" class="display-tool" [ngClass]="{'draggable-tool': allowDrag}">
        Radio
      </div>
      <div *ngSwitchCase="false">
        <input [id]="'radio-' + toolIndex" [name]="model.propName" [(ngModel)]="model.value" type="radio" [attr.required]="(model._validation && model._validation.required) ? 'required' : null" autocomplete="false">
      </div>
    </div>
  </div>
  <div *ngSwitchDefault>
    <p>Cannot determine tool.</p>
  </div>
</div>