.toolbox {
    overflow: hidden;
    .display-tool {
        padding: 10px 5px 10px 0;
        width: 250px;
    }
    .draggable-tool {
        cursor: move;
        &:hover,
        &:focus {
            background-color: #eee;
        }
    }
    .input-button {
        float: right;
    }
    md-select,
    md-input-container {
        display: block;
        margin-bottom: 35px;
        margin-right: 50px;
    }
    .md-input-wrapper>.md-input-underline {
        margin-top: 7px !important;
    }
}