<div class="page-content">
  <div class="page-header">
    <h1><a routerLink="/forms">Forms</a><small *ngIf="form">&nbsp;{{ form.name }}</small></h1>
    <div class="navbar-spacer"></div>
    <div class="header-btn">
      <a md-fab (click)="sidenav.toggle()">
        <md-icon fontSet="fa" fontIcon="fa-bars" class="fa-lg"></md-icon>
      </a>
    </div>
  </div>

  <md-sidenav-container>
    <md-sidenav #sidenav mode="side" align="right" opened="true">
      <md-list *ngIf="form">
        <md-list-item>
          <small>
            <span class="text-muted">Name:</span><br>
            {{form.name}}
          </small>
        </md-list-item>
        <md-list-item>
          <small>
            <span class="text-muted">Created:</span><br>
            {{form.created | date:'MM/dd/yyyy'}}
          </small>
        </md-list-item>
        <md-list-item>
          <small>
            <span class="text-muted">Owner:</span><br>
            {{form.creatorName}}
          </small>
        </md-list-item>
        <md-list-item>
          <small>
            <span class="text-muted">Updated:</span><br>
            {{form.updated | date:'MM/dd/yyyy'}}
          </small>
        </md-list-item>
        <md-divider></md-divider>
      </md-list>
      <md-list>
        <h3 md-subheader>Toolbox</h3>
        <md-list-item>
          <button md-button md-line>
            Test
        </button>
        </md-list-item>
      </md-list>

    </md-sidenav>

    <app-loader-manager [config]="_pageSettings">
      <form (ngSubmit)="onSubmit($event, documentForm.form.valid)" #documentForm="ngForm" class="material-form" *ngIf="form">

        <md-input-container>
          <input md-input id="name" [(ngModel)]="form.name" name="name" #name="ngModel" placeholder="Name" autocomplete="false" required>
          <md-hint align="end" *ngIf="!name.valid && !name.pristine">Name is required</md-hint>
        </md-input-container>

        <md-select placeholder="Status" [(ngModel)]="form.status" (ngModelChange)="updateStatusHr(form.status)" name="status">
          <md-option *ngFor="let item of statusList" [value]="item.value">
            {{ item.key }}
          </md-option>
        </md-select>
        <br>
        <br>
        <br>
        <button md-button type="submit" class="btn btn-default" [disabled]="!documentForm.form.valid">Submit</button>
      </form>
    </app-loader-manager>
  </md-sidenav-container>
</div>