@mixin clearfix() {
    &:before,
    &:after {
        display: table;
        float: none;
        clear: both;
        content: " ";
    }
}

@import '~@angular/material/core/theming/all-theme';
// Plus imports for other components in your app.
// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include md-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-primary: md-palette($md-blue-grey);
$app-accent: md-palette($md-green, A200, A100, A400);
// The warn palette is optional (defaults to red).
$app-warn: md-palette($md-red);
// Create the theme object (a Sass map containing all of the palettes).
$app-theme: md-light-theme($app-primary, $app-accent, $app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);
body,
html,
app-root,
{
    padding: 0px;
    margin: 0px;
    height: 100%;
    background-color: #eee;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    position: relative;
}

.navbar-spacer {
    // This fills the remaining space, by using flexbox.  
    // Every toolbar row uses a flexbox row layout. 
    flex: 1 1 auto;
}

.border-rounded {
    border-radius: 50%;
}

.login-button-list {
    .btn {
        margin: 10px 5px;
    }
}

.page-header {
    @include clearfix();
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 30px;
    background: #607d8b;
    color: white;
    z-index: 2;
    small {
        font-size: 1.4rem;
        margin-left: 5px;
        padding: 0px 5px;
        &:before {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            content: '\f0da';
        }
    }
    a {
        color: #fff;
        text-decoration: none;
    }
    .header-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: -60px;
        z-index: 2;
    }
}

.material-form {
    margin: 15px 0px;
}

.page-content {
    box-sizing: border-box;
    height: 100%;
}

.text-muted {
    color: rgba(0, 0, 0, 0.54);
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

md-sidenav-container {
    height: 100%;
}

[md-card-avatar] md-icon {
    padding-top: 10px;
}

md-sidenav {
    width: 200px;
}

md-card {
    margin: 10px;
}

md-grid-list md-card {
    width: 100%;
}

.md-sidenav-container {
    background-color: transparent;
}

.md-sidenav-content,
md-sidenav {
    display: flex;
    overflow: visible;
}

.md-sidenav-content {
    padding: 10px 15px;
}

md-list md-list-item [md-line][md-button] {
    text-align: left;
}

md-input input {
    width: 50px;
    text-align: right;
}

.dnd-drag-start {
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.7;
    border: 2px dashed #000;
}

.dnd-drag-enter {
    opacity: 0.7;
    border: 2px dashed #000;
}

.dnd-drag-over {
    border: 2px dashed #000;
}

.dnd-sortable-drag {
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.7;
    border: 1px dashed #000;
}