@import '~@angular/material/core/theming/all-theme';
// Plus imports for other components in your app.
// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include md-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-primary: md-palette($md-blue-grey);
$app-accent: md-palette($md-green, A200, A100, A400);
// The warn palette is optional (defaults to red).
$app-warn: md-palette($md-red);
// Create the theme object (a Sass map containing all of the palettes).
$app-theme: md-light-theme($app-primary, $app-accent, $app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);
body,
html {
    padding: 0px;
    margin: 0px;
    background-color: #eee;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.navbar-spacer {
    // This fills the remaining space, by using flexbox.  
    // Every toolbar row uses a flexbox row layout. 
    flex: 1 1 auto;
}

.border-rounded {
    border-radius: 50%;
}

.login-button-list {
    .btn {
        margin: 10px 5px;
    }
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 20px;
    margin-bottom: 25px;
    background: #607d8b;
    color: white;
    .header-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: -60px;
    }
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

md-sidenav-container {
    height: 100%;
}

[md-card-avatar] md-icon {
    padding-top: 10px;
}

md-sidenav {
    max-width: 200px;
}

.md-sidenav-content,
md-sidenav {
    display: flex;
    overflow: visible;
}