<app-loader-manager [config]="_pageSettings">
  <br>
  <br>
  <md-card class="example-card" style="width:500px; margin:0px auto;">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>{{ (user | async)?.displayName }}</md-card-title>
      <md-card-subtitle>{{ (user | async)?.joined | date:'mediumDate' }}</md-card-subtitle>
    </md-card-header>
    <img md-card-image [src]="(user | async)?.photoURL" alt="User Photo" />
    <md-card-content>
      <md-chip-list *ngIf="roles">
        <md-chip *ngFor="let role of roles" selected="true" color="primary">
          {{role}}
        </md-chip>
      </md-chip-list>
    </md-card-content>
    <md-card-actions>
      <button md-button class="btn btn-lg" *ngFor="let provider of allowedAuthProviders" [disabled]="(user | async)?.hasProvider(provider)" [ngClass]="{'btn-success': (user | async)?.hasProvider(provider), 'btn-default': !(user | async)?.hasProvider(provider)}"
        (click)="linkAccount(provider)">
                <i class="fa" [ngClass]="{'fa-check': (user | async)?.hasProvider(provider), 'fa-close': !(user | async)?.hasProvider(provider)}"></i>&nbsp;
                {{ auth.getProviderHR(provider) }}
        </button>
    </md-card-actions>
  </md-card>
</app-loader-manager>