<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
    <div *ngIf="user">
      <h1>{{ user.displayName }}</h1>
      <h4 class="text-muted">{{ user.joined | date:'mediumDate' }}</h4>
      <img [src]="user.photoURL" alt="User Photo" class="border-rounded" />
      <br />
      <br />
      <button *ngFor="let provider of allowedAuthProviders" [disabled]="user.hasProvider(provider)" [ngClass]="{'btn-success': user.hasProvider(provider), 'btn-default': !user.hasProvider(provider)}" (click)="linkAccount(provider)" class="btn btn-lg ">
            <i class="fa" [ngClass]="{'fa-check': user.hasProvider(provider), 'fa-close': !user.hasProvider(provider)}"></i>&nbsp;
            {{ auth.getProviderHR(provider) }}
        </button>
      <br />
      <br />
      <pre class="text-left">{{ user | json }}</pre>
    </div>
  </div>
</div>